/**
 * Author: 	Yahir Rendon 
 * Date:	April 2021
 * Project: ePortfolio
 *
 * style 
 */

:root {
	--light: #bed3c3;
	--medium: #ebaca2;
	--dark: #212e53;
	--bright: #ce6a6b;
	--third: #4a919e;
}

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	padding: 1em;
}

/***** define all grid areas *****/

/* navigation areas */
.menu{grid-area: menu;}
.home{grid-area: home; display: none;}
.plan{grid-area: plan; display: none;}
.about{grid-area: about; display: none;}
.name{grid-area: name; font-size: xx-large; text-align: right;}

/* section areas */
.s1_a{grid-area: s1_a; background-image:url('../img/jo-szczepanska-bjemWZcNF34-unsplash.jpg');}
.s1_b{grid-area: s1_b; background-image:url('../img/chris-lawton-5IHz5WhosQE-unsplash.jpg');}
.s1_c{grid-area: s1_c; background-image:url('../img/jason-pofahl-6AQY7pO1lS0-unsplash.jpg');}

.s1_a, 
.s1_b, 
.s1_c {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	object-fit: contain;
	background-position: center center;
}

.s1_a:hover,
.s1_b:hover,
.s1_c:hover {
	border: 2px solid var(--bright);
}

/* footer areas */
.f_home{grid-area: f_home;}
.f_plan{grid-area: f_plan;}
.f_about{grid-area: f_about;}
.f_github{grid-area: f_github;}
.f_spacer1{grid-area: f_spacer1;}
.f_spacer2{grid-area: f_spacer2;}

/***** Define grid wrappers *****/

/* navigation wrapper */
.wrapper_footer {
	grid-area: wrap_foot;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-areas: "f_spacer1 f_home f_plan f_about f_github f_spacer2";
	margin-top: 4em;
	margin-bottom: 2em;
	font-size: medium;
	text-align: center;
}

.wrapper_nav {
	grid-area: wrap_nav;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas: "menu name " "home home" "plan plan" "about about" ;
	font-size: large;
}

.wrapper_nav a, 
.wrapper_footer a {
	color: black;
	text-decoration: none;
}

.wrapper_nav a:hover,
.wrapper_footer a:hover {
	color: var(--bright)
}

/* section 1 wrapper */
.wrapper_s1 {
	grid-area: wrap_s1;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: auto;
	grid-template-areas: "s1_a" "s1_b" "s1_c";
	font-size: xx-large;
	text-align: center;
	cursor: pointer;
	min-height: 500px;
}

/* title / header */
.title_1 {
	margin-top: 1.5em;
	margin-bottom: 1em;
	text-align: center;
	font-size: xx-large;
}

.projectLinks {
	text-align: center;
}

.projectLinks a {
	color: var(--bright);
}

/* Basic button for linking to projects */
.button_1 {
	margin: 3em;
	text-align: center;
	font-size: large;	
}

.button_1 a {
	
	padding: .5em 2em;
	text-decoration: none;
	color: black;	
	background-color: var(--light);	
}

.button_1 a:hover {
	background-color: var(--third);
	color: var(--bright);
}

/* Style image class that displays project images */
.image {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	object-fit: contain;
	background-position: center center; 
}

/* Display styles for larger screens */
@media only screen and (min-width: 700px)   {
	/* section 1 wrapper */
	.wrapper_s1 {
		grid-area: wrap_s1;
		display: grid;
		grid-gap: 2%;
		grid-template-columns: 32% 32% 32%;
		grid-template-areas: "s1_a s1_b s1_c";
		font-size: xx-large;
		text-align: center;
		cursor: pointer;
		min-height: 250px;
	}

	.wrapper_footer {
		grid-area: wrap_foot;
		display: grid;
		grid-template-columns: auto 100px 100px 100px 100px auto;
		grid-template-areas: "f_spacer1 f_home f_plan f_about f_github f_spacer2";
		margin-top: 4em;
		margin-bottom: 2em;
		font-size: large;
		text-align: center;
	}

	.name{grid-area: name; margin: 0; text-align: right; font-size: xx-large;}

	.wrapper_nav {
		grid-area: wrap_nav;
		display: grid;
		grid-template-columns: 50px 100px 100px 100px auto;
		grid-template-areas: "menu home plan about name";
		font-size: large;
	}

	.image {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		object-fit: contain;
		background-position: center center; 
	}
}
