:root {
	--light: #bed3c3;
	--medium: #ebaca2;
	--dark: #212e53;
	--bright: #ce6a6b;
	--third: #4a919e;
  }

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	padding: 1em;
}

/* navigation and footer areas */
.home{grid-area: home;}
.plan{grid-area: plan;}
.about{grid-area: about;}
.name{grid-area: name; font-size: xx-large; margin: .5em;}
.github{grid-area: github;}
.spacer1{grid-area: spacer1;}
.spacer2{grid-area: spacer2;}


/* section 1 areas */
.s1_a{grid-area: s1_a; 
	background-image:url('../img/jo-szczepanska-bjemWZcNF34-unsplash.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	object-fit: contain;
	background-position: center center; 
	
	}
.s1_b{grid-area: s1_b; 
	background-image:url('../img/chris-lawton-5IHz5WhosQE-unsplash.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	object-fit: contain;
	background-position: center center;
}
.s1_c{grid-area: s1_c;
	background-image:url('../img/jason-pofahl-6AQY7pO1lS0-unsplash.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	object-fit: contain;
	background-position: center center;
}

.s1_a:hover,
.s1_b:hover,
.s1_c:hover {
	border: 2px solid var(--bright);
}

/* navigation wrapper */
.wrapper_footer {
	grid-area: wrap_foot;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-areas: "spacer1 home plan about github spacer2";
	margin-top: 4em;
	margin-bottom: 2em;
	font-size: large;
	text-align: center;
}

.wrapper_nav {
	grid-area: wrap_nav;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-areas: "name name name" "home plan about" ;
	font-size: large;
	text-align: center;
}

.wrapper_nav a, 
.wrapper_footer a {
	color: black;
	text-decoration: none;
}

.wrapper_nav a:hover,
.wrapper_footer a:hover {
	color: var(--bright)
}

/* section 1 wrapper */
.wrapper_s1 {
	grid-area: wrap_s1;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: auto;
	grid-template-areas: "s1_a" "s1_b" "s1_c";
	font-size: xx-large;
	text-align: center;
	cursor: pointer;
	min-height: 500px;
}

.title_1 {
	margin-top: 1.5em;
	margin-bottom: 1em;
	text-align: center;
	font-size: xx-large;
}

.title_2 {
	margin: 1em;
	text-align: center;
	font-size: large;	
}

.title_2 a {
	padding: .5em 2em;
	text-decoration: none;
	color: black;	
	background-color: var(--light);	
}


.title_2 a:hover {
	background-color: var(--third);
	color: var(--bright);
}

.image {
	display: block;
	text-align: center;
	
}

.image img {
	max-height: 200px;
	object-fit: contain;
	background-position: center center; 
}

/* Display for large screens */
@media only screen and (min-width: 700px)   {
	/* section 1 wrapper */
	.wrapper_s1 {
		grid-area: wrap_s1;
		display: grid;
		grid-gap: 1em;
		grid-template-columns: 32% 32% 32%;
		grid-template-areas: "s1_a s1_b s1_c";
		font-size: xx-large;
		text-align: center;
		cursor: pointer;
		min-height: 250px;
	}

	.wrapper_footer {
		grid-area: wrap_foot;
		display: grid;
		grid-template-columns: auto 100px 100px 100px 100px auto;
		grid-template-areas: "spacer1 home plan about github spacer2";
		margin-top: 4em;
		margin-bottom: 2em;
		font-size: large;
		text-align: center;
	}

	.name{grid-area: name; margin: 0; text-align: right; font-size: xx-large;}

	.wrapper_nav {
		grid-area: wrap_nav;
		display: grid;
		grid-template-columns: 100px 100px 100px auto;
		grid-template-areas: "home plan about name";
		font-size: large;
	}

	.image img {
		max-height: 400px;
		object-fit: contain;
		background-position: center center; 
	}
}
